.header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero_icon{
    height: 450px;
    width: 450px;
}
.header video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tint{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero_content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero_content h1{
    font-size: 50px;
}
.hero_content p{
    font-size: 20px;
}
.btn_div{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.btn{
    width: 150px;
    height: 60px;
    background: var(--accent);
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 50px;
    font-size: .95rem;
    font-weight: 600;
    cursor: pointer;
    transition: background .3s ease,
                transform .3s ease;
}

.btn:hover{
    background: var(--accent-hover);
    transform: translateY(-2px);
}

.why{
   width:100%;
    padding:120px 8%;
    background:var(--bg-primary);
}

.why_heading{
    text-align:center;
    margin-bottom:70px;
}

.why_heading h1{
    font-size:3rem;
    margin-bottom:20px;
}

.why_heading p{
    max-width:750px;
    margin:auto;
    color:var(--text-secondary);
    line-height:1.8;
    font-size:1.1rem;
}
.why_cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.why_card{
    background:var(--bg-card);
    border:1px solid var(--border);
    border-radius:18px;
    padding:40px 30px;
    transition:.35s;
    cursor:pointer;
}

.why_card:hover{
    transform:translateY(-10px);
    border-color:var(--accent);
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.icon{
    font-size:3rem;
    margin-bottom:25px;
}

.why_card h3{
    margin-bottom:18px;
    font-size:1.5rem;
}

.why_card p{
    color:var(--text-secondary);
    line-height:1.8;
}

.programs{
    width: 100%;
    padding: 120px 8%;
    background: var(--bg-secondary);
}

.program_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 70px;
}

.program_card{
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
    transition: .35s ease;
    cursor: pointer;
    display:flex;
    flex-direction: column;
}

.program_card:hover{
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 20px 40px rgba(0,0,0,.35);
    
}

.program_card video{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}
.program_card video:hover{
    transform: scale(1.5);
    
}

.program_card h3{
    font-size: 1.6rem;
    margin: 25px 25px 10px;
    color: var(--text-primary);
}

.program_card p{
    margin: 0 25px 30px;
    color: var(--text-secondary);
    line-height: 1.7;
}
.program_content{
    padding:25px;
}

.program_content h3{
    margin-bottom:15px;
    font-size:1.5rem;
}

.program_content p{
    margin-bottom:25px;
    color:var(--text-secondary);
    line-height:1.7;
}

.trainers{
    padding:120px 8%;
    background:var(--bg-primary);
}

.section_heading{
    text-align:center;
    max-width:700px;
    margin:auto;
}

.section_heading h1{
    font-size:3rem;
    margin-bottom:20px;
}

.section_heading p{
    color:var(--text-secondary);
    line-height:1.8;
}

.coach_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top:70px;
}

.coach_card{
    background:var(--bg-card);
    border-radius:20px;
    overflow:hidden;
    border:1px solid var(--border);
    transition:.35s;
}

.coach_card:hover{
    transform:translateY(-10px);
    border-color:var(--accent);
}

.coach_card img{
    width:100%;
    height:420px;
    object-fit:cover;
    display:block;
}

.coach_content{
    padding:25px;
}

.coach_content h3{
    margin-bottom:10px;
    font-size:1.6rem;
}

.coach_content span{
    color:var(--accent);
    font-weight:600;
}

.coach_content p{
    color:var(--text-secondary);
    margin:15px 0;
}

.rating{
    font-weight:bold;
}

.plans{
    padding:120px 8%;
    background:var(--bg-secondary);
}

.plan_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 70px;
}

.plan_card{
    position:relative;
    background:var(--bg-card);
    border:1px solid var(--border);
    border-radius:20px;
    overflow:hidden;
    transition:.35s;
    display:flex;
}

.plan_card:hover{
    transform:translateY(-12px);
    border-color:var(--accent);
    box-shadow:0 20px 40px rgba(0,0,0,.35);
}


.plan_content{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:40px 35px;
}

.plan_content h2{
    color:var(--accent);
    font-size:2rem;
    margin-bottom:20px;
}

.plan_content h1{
    font-size:3.5rem;
    margin-bottom:25px;
}

.plan_content h1 span{
    font-size:1rem;
    color:var(--text-secondary);
}

.plan_content h3{
    margin-bottom:20px;
    font-size:1.4rem;
}


.feature_list{
    flex:1;
}

.feature_list p{
    margin-bottom:15px;
    color:var(--text-secondary);
    font-size:1.05rem;
}

.plan_btn{
    margin-top:auto;
    width:100%;
    padding:15px;
    border:none;
    border-radius:50px;
    background:var(--accent);
    color:white;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.plan_btn:hover{
    background:#ff5c5c;
    transform:scale(1.03);
}

.featured{
    border:2px solid var(--accent);
    transform:scale(1.05);
}

.featured:hover{
    transform:scale(1.05) translateY(-12px);
}

.popular_tag{
    position:absolute;
    top:25px;
    right:-59px;
    width:210px;
    background:var(--accent);
    color:#fff;
    text-align:center;
    padding:8px 0;
    font-size:.8rem;
    font-weight:700;
    letter-spacing:1px;
    transform:rotate(45deg);
    z-index:10;
}

.bmi{
    padding:120px 8%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        var(--bg-primary),
        #191919
    );
}

.bmi_content{
    width:100%;
    max-width:900px;
    background:var(--bg-card);
    border:1px solid var(--border);
    border-radius:25px;
    padding:70px 50px;
    text-align:center;
    transition:.35s;
}

.bmi_content:hover{
    transform:translateY(-8px);
    border-color:var(--accent);
    box-shadow:0 20px 50px rgba(0,0,0,.35);
}

.bmi_content h1{
    font-size:3rem;
    margin-bottom:25px;
    color:var(--text-primary);
}

.bmi_content p{
    max-width:700px;
    margin:0 auto 45px;
    color:var(--text-secondary);
    line-height:1.8;
    font-size:1.1rem;
}

.bmi_btn{
    background:var(--accent);
    color:#fff;
    border:none;
    padding:18px 45px;
    border-radius:50px;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.bmi_btn:hover{
    background:#ff5c5c;
    transform:scale(1.05);
    box-shadow:0 10px 30px rgba(255,70,70,.35);
}

.bmi_stats{
    display:flex;
    justify-content:center;
    gap:80px;
    margin-bottom:45px;
}

.bmi_stats h2{
    color:var(--accent);
    font-size:2rem;
}

.bmi_stats span{
    color:var(--text-secondary);
}

.reviews{
    padding:120px 8%;
    background:var(--bg-primary);
}

.review_cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
    margin-top:70px;
}

.review_card{
    background:var(--bg-card);
    border:1px solid var(--border);
    border-radius:20px;
    padding:35px;
    transition:.35s;
}

.review_card:hover{
    transform:translateY(-10px);
    border-color:var(--accent);
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.review_star{
    font-size:1.2rem;
    margin-bottom:20px;
}

.review_msg{
    color:var(--text-secondary);
    line-height:1.8;
    margin-bottom:30px;
    min-height:120px;
}

.review_user{
    display:flex;
    align-items:center;
    gap:15px;
}

.review_avatar{
    width:55px;
    height:55px;
    border-radius:50%;
    background:var(--accent);
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    color:white;
    font-size:1.3rem;
}

.review_user h4{
    margin-bottom:5px;
}

.review_user span{
    color:var(--text-secondary);
    font-size:.9rem;
}

.cta{
    padding:140px 8%;
    background:linear-gradient(
        135deg,
        #181818,
        #111111
    );
    display:flex;
    justify-content:center;
    align-items:center;
}

.cta_content{
    max-width:900px;
    text-align:center;
}

.cta_tag{
    display:inline-block;
    padding:10px 22px;
    background:rgba(239,68,68,.15);
    color:var(--accent);
    border:1px solid rgba(239,68,68,.3);
    border-radius:50px;
    font-size:.9rem;
    letter-spacing:1px;
    margin-bottom:25px;
}

.cta_content h1{
    font-size:4rem;
    margin-bottom:25px;
    color:var(--text-primary);
}

.cta_content p{

    color:var(--text-secondary);
    line-height:1.9;
    font-size:1.15rem;
    max-width:700px;
    margin:0 auto 45px;
}

.cta_buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.cta_btn{
    padding:18px 45px;
    border:none;
    border-radius:50px;
    background:var(--accent);
    color:#fff;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.cta_btn:hover{
    transform:translateY(-4px);
    background:#ff5c5c;
    box-shadow:0 15px 30px rgba(255,70,70,.35);
}

.cta_btn_outline{
    padding:18px 45px;
    border:2px solid var(--accent);
    background:transparent;
    color:var(--accent);
    border-radius:50px;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.cta_btn_outline:hover{
    background:var(--accent);
    color:white;
}

@media(max-width:900px){

    .plan_cards{
        grid-template-columns:1fr;
    }

    .featured{
        transform:none;
    }
    .featured:hover{
        transform:translateY(-12px);
    }

}