.contact_hero{
    position:relative;
    width:100%;
    height:65vh;
    overflow:hidden;
}

.contact_bg{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.contact_overlay{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.75)
    );
}

.contact_content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:min(900px,90%);
    text-align:center;
    z-index:2;
}

.contact_content h1{
    font-size:clamp(3rem,5vw,5rem);
    margin:20px 0;
    color:white;
}

.contact_content p{
    color:var(--text-secondary);
    line-height:1.9;
    font-size:1.1rem;
    margin-bottom:45px;
}

.contact_buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.primary_btn{
    padding:16px 38px;
    border:none;
    border-radius:50px;
    background:var(--accent);
    color:white;
    cursor:pointer;
    transition:.3s;
}

.primary_btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(239,68,68,.35);
}

.secondary_btn{
    padding:16px 38px;
    border:2px solid var(--accent);
    background:transparent;
    color:white;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
}

.secondary_btn:hover{
    background:var(--accent);
}